// font-family: 'Roboto', sans-serif
// font-family: 'Roboto Slab', serif
// font-family: 'Montserrat', sans-serif

a, button, input, textarea
	border: none
	outline: none
	text-decoration: none
	&:hover
		border: none
		outline: none
		text-decoration: none

*
	margin: 0
	padding: 0
	box-sizing: border-box

.orange-btn
	width: 160px
	height: 50px
	box-shadow: 0px 0px 20px rgba(233, 0, 84, 0.63)
	border-radius: 100px
	background-color: #d0855a
	cursor: pointer
	font-family: 'Montserrat', sans-serif
	font-weight: 300
	font-size: 16px
	color: #fff




@import "_header.sass"
@import "_adv.sass"
@import "_products.sass"