a,
button,
input,
textarea {
  border: none;
  outline: none;
  text-decoration: none;
}

a:hover,
button:hover,
input:hover,
textarea:hover {
  border: none;
  outline: none;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.orange-btn {
  width: 160px;
  height: 50px;
  -webkit-box-shadow: 0px 0px 20px rgba(233, 0, 84, 0.63);
  box-shadow: 0px 0px 20px rgba(233, 0, 84, 0.63);
  border-radius: 100px;
  background-color: #d0855a;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

.header {
  color: #fff;
  padding: 30px 0;
  background: url("../img/header-bg.png") center center no-repeat/cover;
  position: relative;
  height: 100vh;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(75, 49, 49, 0.5);
  z-index: -1;
}

.header-logo {
  width: 160px;
  height: 160px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
}

.header-logo .cercle {
  width: 146px;
  height: 146px;
  border: 2px dashed #fff;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
}

.header-logo .cercle img {
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 47px);
  width: 80px;
  height: 94px;
  fill: #fff;
}

.header-nav__item {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 18px;
}

.header-nav__item a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 18px;
  position: relative;
}

.header-nav__item a::after {
  content: '';
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-nav__item a:hover::after {
  width: 100%;
}

.header-nav__item-loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav__item-loc img {
  height: 20px;
  margin-right: 15px;
}

.header-descr {
  margin-top: -60px;
}

.header-descr__subtitle {
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 20px;
}

.header-descr__title {
  font-family: "Roboto Slab", serif;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 45px;
}

.header-arrow {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-arrow__text {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.header-arrow img {
  cursor: pointer;
}

.adv {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #292929;
}

.adv-item {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 32px 0 32px 30px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 140px;
}

.adv-item__text {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 16px;
}

.adv-item__text span {
  display: block;
}

.adv-item img {
  margin-right: 20px;
}

.products {
  color: #292929;
  padding-top: 120px;
  position: relative;
}

.products-item {
  margin-bottom: 120px;
}

.products-item:last-child {
  margin-bottom: 80px;
}

.products-img::after {
  content: '';
  position: absolute;
  width: 610px;
  height: 456px;
  border: 3px dashed #fff;
  left: 35px;
  top: 23px;
}

.products .product {
  padding-left: 15px;
  font-family: 'Roboto Slab', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.products .product-title {
  font-weight: 700;
  font-size: 34px;
}

.products .product-descr {
  font-size: 16px;
  font-weight: 400;
}

.products .product-adv {
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
}

.products .product-adv li {
  margin: 20px 0;
}

.products .product-adv li:first-child {
  margin-top: 0;
}

.products .product-adv li:last-child {
  margin-bottom: 0;
}

.products .product-cost {
  font-weight: 700;
  font-size: 18px;
}